body {
 background-color:  #ffffb3;
}
h3{
	color: black;
	text-align: center;}
.center{text-align:center;}
h1{
	background-color: #b3ecff;
}

h5{ color:red; text-align 

}
</style>
</body>
