body {
 background-color:  #ffff99;
}
h3{
	color: black;
	text-align: center;}
.center{text-align:center;}
h1{
	background-color: lightblue;
}

h5{ color:red; text-align 

}
</style>
</body>
